.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: url(../img/background.png) no-repeat center;
    background-size: cover;
    position: relative;
  }
  .main-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: -moz-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
      background-image: -webkit-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
      background-image: -ms-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
      opacity: 0.851;
      position: absolute;
      z-index: 0;
  }
 .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    z-index: 3;
 }
 .navbar {
     width: 50%;
 }
 .navbar ul {
     display: flex;
     justify-content: space-between;
     list-style-type: none;
 }
.navbar-link {
    color: #fff;
    text-decoration: none;
}
.navbar-link:hover {
    background-color: #00e0d0;
}
.main-text h1 {
    font-size: 32px;
    font-family: "PlayfairDisplay";
    color: rgb(255, 255, 255);
      }  
 .main-text p {
    color: #FFF;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
      }
      
.main-text {
    position: relative;
    text-align: center;
    z-index: 2;
}
.main-button {
    border: solid 2px red;
    text-align: center;
}
.butt {
    position: relative;
}
.logo {
    margin: 10px;
}