body {
    padding: 0;
    margin: 0;
}

div {
    padding: 0;
    margin :0;
}

li {
    padding: 5px;
}

.main-overlay {
    height: 700px;
    background-image: url(./img/background.png);
    background-color: rgba(49,29,94, 0.851);
    background-blend-mode: multiply;
    background-size: cover;
  }

 .header {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 3;
    position: relative;
    width: 1500px;;
    margin-left: 260px;
 }


 .navbar ul {
    display: flex;
    list-style-type: none;
    font-weight: bold;
    white-space: nowrap;    
 }

.navbar-link {
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: #00e0d0;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: 90px;
}

.main-title {
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

 .main-p {
    width: 940px;
    height: 100px;
    z-index: 5;
    color: #FFF;
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 24px;
}
      
.main-button {
    margin-top: 50px;
    border : 1px solid rgb(0, 224, 208);
    border-radius: 2px;
    z-index: 1;
    text-decoration: none;
}

.main-button-text {
    font-size: 18px;
    font-family: "HammersmithOne";
    color: rgb(0, 224, 208);
    line-height: 1.2;
    text-align: center;
}

.history {
    background-color: #FFF;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px auto; 
}

.history-right {
    margin-left: 100px;
}

.history-left {
    margin-left: 150px;
}

.history-title {
    margin-left: 50px;
    font-size: 22px;
    font-family: "PlayfairDisplay";
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    width: 135px;
    height: 16px;
    z-index: 359;
}
      
.history-text {
    margin-left: 50px;
    font-size: 15px;
    font-family: "Myriad Pro";
    color: rgba(65, 61, 75, 0.749);
    line-height: 1.571;
    width: 538px;
    height: 145px;
    z-index: 360;
    padding-bottom: 55px;
}

 .history-button {
    margin-left: 50px;
    margin-top: 55px;
    border: 1px;
    border-width: 1px;
    border-color: rgb(0, 224, 208);
    border-style: solid;
    border-radius: 2px;
    text-decoration: none;
}

.history-button-text {
    font-size: 16px;
    font-family: "HammersmithOne";
    color: rgb(0, 224, 208);
    line-height: 1.2;
    text-align: center;
}

.watch {
    position: relative;
    display: flex;
    justify-content: center;
    height: 600px;
    background-image: url(./img/background2.png);
    background-color: rgba(49,29,94, 0.851);
    background-blend-mode: multiply;
    background-size: cover;
}

.test{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.watch-p {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-weight: bold;
}

.expertise {
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

.expertise-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expertise-title{
	text-align:center;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
    padding-top: 50px;
}

.expertise-text {
    text-align:center;
    font-family: "Playfair Display";
    font-size: 17px;
    font-weight: 600;
    color: rgba(47, 45, 53, 0.749);
    margin-top: -30px;
}

.expertise-line {
    background-color: rgb(65, 61, 75);
    opacity: 0.302;
    width: 50px;
    height: 2px;
    margin-left: 170px;
}

  .expertise-blocks-top {
    display:flex;
	flex-direction:row;
    align-items:center;
    justify-content: center;
    margin: 100px;
 }

 .expertise-blocks-top-one {
    display:flex;
	flex-direction:column;
    justify-content: center;
    width: 33%;
    align-items:center;
 }

 .expertise-blocks-top-one h3 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(65, 61, 75);
    line-height: 1.2;
    text-align: center;
    margin: 20px;
 }

 .expertise-blocks-top-one p {
    font-size: 18px;
    font-family: "Roboto";
    color: rgba(51, 51, 51, 0.749);
    line-height: 1.571;
    text-align: center;
    margin: 20px;
 }

 .expertise-blocks-top-two {
    display:flex;
    flex-direction:column;
    justify-content: center;
    width: 33%;
    align-items:center;
 }

 .expertise-blocks-top-two h3 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(65, 61, 75);
    line-height: 1.2;
    text-align: center;
    margin: 20px;
 }

 .expertise-blocks-top-two p {
    font-size: 18px;
    font-family: "Roboto";
    color: rgba(51, 51, 51, 0.749);
    line-height: 1.571;
    text-align: center;
    margin: 20px;
 }

.expertise-blocks-top-three {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width: 33%;
}
.expertise-blocks-top-three h3 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(65, 61, 75);
    line-height: 1.2;
    text-align: center;
    margin: 20px;
}

.expertise-blocks-top-three p {
    font-size: 18px;
    font-family: "Roboto";
    color: rgba(51, 51, 51, 0.749);
    line-height: 1.571;
    text-align: center;
    margin: 20px;
}
    
.expertise-blocks-bottom {
    display:flex;
	flex-direction:row;
    align-items:center;
    justify-content: center;
    margin: 100px;
 }

 .expertise-blocks-bottom-one {
    display:flex;
	flex-direction:column;
    justify-content: center;
    width: 33%;
    align-items:center;
}

 .expertise-blocks-bottom-one h3 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(65, 61, 75);
    line-height: 1.2;
    text-align: center;
    margin: 20px;
}

 .expertise-blocks-bottom-one p {
    font-size: 18px;
    font-family: "Roboto";
    color: rgba(51, 51, 51, 0.749);
    line-height: 1.571;
    text-align: center;
    margin: 20px;
}

 .expertise-blocks-bottom-two {
    display:flex;
    flex-direction:column;
    justify-content: center;
    width: 33%;
    align-items:center;
}

 .expertise-blocks-bottom-two h3 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(65, 61, 75);
    line-height: 1.2;
    text-align: center;
    margin: 20px;
}

 .expertise-blocks-bottom-two p {
    font-size: 18px;
    font-family: "Roboto";
    color: rgba(51, 51, 51, 0.749);
    line-height: 1.571;
    text-align: center;
    margin: 20px;
}

.expertise-blocks-bottom-three {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width: 33%;
}
.expertise-blocks-bottom-three h3 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(65, 61, 75);
    line-height: 1.2;
    text-align: center;
    margin: 20px;
}

.expertise-blocks-bottom-three p {
    font-size: 18px;
    font-family: "Roboto";
    color: rgba(51, 51, 51, 0.749);
    line-height: 1.571;
    text-align: center;
    margin: 20px;
}

.team-container {
    background: url(./img/background3.png) no-repeat center;
    min-height: 900px;
    background-color: rgba(49,29,94, 0.851);
    background-blend-mode: multiply;
    background-size: cover;
}
 
.team-container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.team-container-title {
    text-align:center;
	font-family: "PlayfairDisplay";
	font-size: 20px;
	font-weight: 700;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    z-index: 276; 
}
      
.team-container-text {
    text-align:center;
    font-family: "Playfair Display";
    font-size: 18px;
    font-weight: 300;
    margin-top: -30px;
    color: rgb(249, 249, 249);
    line-height: 1.2;
    z-index: 275;
}

.team-container-line {
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    width: 50px;
    height: 2px;
    z-index: 274;
}
    
.team-container-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}      

.team-container-image {
    background-color: white;
    width: 250px;
    z-index: 2;
    margin: 0 30px;
}

.team-container-names  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.team-container-names h3 {
    color: #FFF;
    padding: 0px 100px 0px 100px;
    margin-bottom: 0;  
}
    
.team-container-job {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.team-container-job p {
    color: #FFF;    
    margin: 0 30px;    
    margin-top: 0;
    margin-bottom: 10px;
}

.team-container-job-one {
    width: 250px;
}

.team-container-job-two {
    width: 250px;
}

.team-container-job-three {
    width: 250px;
}

.team-container-job-four {
    width: 250px;
}

.team-container-separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.team-container-separator-line {
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    opacity: 0.502;
    width: 250px;
    z-index: 267;
    margin: 0 30px;
}

.team-container-bottom {
    display:flex;   
    flex-direction: column;
    justify-content: center;
    text-align: center;   
}

.team-container-bottom p {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(243, 243, 243);
    line-height: 1.2;
    text-align: center;
    z-index: 229;
    margin: 50px;
}

.team-container-button {
    font-size: 16px;
    font-family: "HammersmithOne";
    color: rgb(0, 224, 208);
    text-align: center;
    z-index: 227;
    text-decoration: none;
    border-width: 1px;
    border-color: rgb(0, 224, 208);
    border-style: solid;
    border-radius: 1px;
    height: 18px;
    width: 138px;
}

.ourworks-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ourworks-title {
    margin: 50px;
    font-size: 22px;
    font-family: "PlayfairDisplay";
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    z-index: 216;
}

.ourworks-see {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(65, 61, 75);
    line-height: 1.2;
    z-index: 214;
}
.ourworks-gallery-top {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.ourworks-gallery-bottom {
    display: flex;
    justify-content: center;
}

.ourworks-button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;        
}

.ouworks-button-two {
    text-align:center;
	font-family: "PlayfairDisplay";
	font-size: 18px;
	font-weight: 700;   
    color: rgb(0, 224, 208);
    font-weight: bold;
    line-height: 1.2;
    z-index: 276; 
    text-decoration: none;
    border-width: 1px;
    border-color: rgb(0, 224, 208);
    border-style: solid;
    border-radius: 1px;
}

.comments {
    margin-top: 50px;
    background: url(./img/background4.png) no-repeat center;
    min-height: 600px;
    background-color: rgba(49,29,94, 0.851);
    background-blend-mode: multiply;
    background-size: cover;
}

.comments-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-kavichki {
    font-size: 90px;
    font-family: "PlayfairDisplay";
    color: rgba(255, 255, 255, 0.902);
    line-height: 0.22;
    z-index: 159;       
    margin-bottom: 150px;
}

.comments-text  {
    font-size: 22px;
    font-family: "PlayfairDisplay";
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.625;
    text-align: center;
    position: absolute;
    width: 1000px;
    height: 130px;
    z-index: 158;
    padding-top: 150px;
}

.comments-author {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.571;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 10px;
    z-index: 160;
    padding-top: 310px;
}

.comments-job {
    font-size: 14px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.692;
    text-align: center;
    width: 120px;
    height: 9px;
    z-index: 160;
    position: absolute;
    margin-top: 360px;   
}

.comments-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 160;
    padding: 50px;
}

.comments-image-one {
padding-right: 20px;
}

.comments-image-two {
padding-right: 20px;
}

.comments-image-three {
  
}

.comments-image-four {
    padding-left: 20px;
}

.comments-image-five {
    padding-left: 20px;
}

.feedback-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}   

.feedback-title-one {
    margin-right: 370px;
}

.feedback-title-two {
    margin-bottom: 0;
}

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feedback-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.feedback-form {
   padding-bottom:  100px;
   padding-left: 100px;
}


.feedback-form-one {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    opacity: 0.102;
    width: 458px;
    height: 43px;
    z-index: 105;
    margin-top: 15px;
    }

.feedback-form-two {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    opacity: 0.102;
    width: 458px;
    height: 43px;
    z-index: 105;
    margin-top: 15px;
}

.feedback-form-three {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    opacity: 0.102;
    width: 458px;
    height: 43px;
    z-index: 105;
    margin-top: 15px;
}

.feedback-form-four {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    opacity: 0.102;
    width: 458px;
    height: 43px;
    z-index: 105;
    margin-top: 15px;
}

.feedback-form-button {
    margin-top: 20px;
}

.feedback-button {
    font-size: 16px;
    font-family: "HammersmithOne";
    color: rgb(0, 224, 208);
    line-height: 1.2;
    text-align: center;
    z-index: 89;
    text-decoration: none;
    border: #00e0d0 1px solid;
}

.feedback-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 100px;
}

.feedback-gallery-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.feedback-gallery-image {
    margin-top: 30px;
}   

.feedback-gallery-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background: url(./img/background5.png) no-repeat center;
    min-height: 500px;
    background-color: rgba(49,29,94, 0.851);
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-left-image {
    padding-right: 100px; 
}

.footer-left p {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.857;
  text-align: left;
  width: 283px;
  height: 89px;
  z-index: 22;
}

.footer-navbar ul {
    padding-top: 60px;
    display: flex;
    list-style-type: none;
    font-weight: bold;
    white-space: nowrap;  
 }

.footer-navbar-link {
    color: #fff;
    text-decoration: none;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.footer-center h4 {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.733;
    z-index: 35; 
}

.footer-center p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.857;
    width: 237px;
    height: 90px;
    z-index: 28; 
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.footer-right h4 {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.733;
    z-index: 35; 
}

.footer-images {
    display: flex;
    flex-direction: row;
}

.footer-image {
    padding-left: 15px;

}